/**WEB STYLE SHEET**/

@import url(http://fonts.googleapis.com/css?family=Parisienne|Lora:400,700|Quicksand);


#container {
  max-width: 900px;
  min-width: 400px;
  margin: 0 auto 0 auto;
  background-image: url("../img/grayblue2.png");
}

#main {
  background-color: #ffffff;
  margin: 0;
  min-height: 400px;
  padding-bottom: 20px;
}


nav ul {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

header {
  height: 150px;
  background-image: url("../img/sky3.jpg")
}

h1 {
  margin-left: -10000px;
  margin-top: 0px;
}



h2 {
  font-size: 35px;
  font-family: 'Parisienne', serif;
  padding: 10px 0px 0px 0px;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-family: 'Lora', sans-serif;
}

p, address {
  font-size: 14px;
  font-family: 'Lora', sans-serif;
}


#homephoto {
  float: right;
  width: 100%
  height: auto;
}




section {
  margin: 10px 20px 15px 50px;
}


img {
  margin: 30px 30px;
}



nav {
  background-color: #2C4351;
  margin-left: 0;
  display: inline-block;
  text-align: center;
}

nav ul {
  margin: 0px;
  padding: 0px;
  border-bottom: 5px solid #ACDEEA;
  border-top: 5px solid #ACDEEA;

}

nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;

}

nav li > a {
  display: inline-block;
  padding: 10px 22.75px;
  text-decoration: none;
  background: #2C4351;
  color: #ACDEEA;
  width: 175px;
}

nav li > a:hover {
  background: #5A655F;
  color: #FFF;
}

li > a:visited{
  color: #AAAAAA;
}



/**Index/Home Page**/

#aboutme {
  margin-top: 30px;
}

#welcome, #aboutme {
  border-bottom: 3px solid #AAAAAA;
  width: 700px;
}

/**Videography Page**/

#videos {
  margin: 10px 48px;
  padding: 0px;
}


/**Photography Page**/

#portfoliobox {
  background: url("../img/galleryphotos/002.jpg");
  display: inline-block;
  margin: 20px 40px 0 0;
  padding: 0px;
}

#londonbox {
  background: url("../img/galleryphotos/008.JPG");
  display: inline-block;
  margin: 20px 40px 0 0;
}


#handsbox {
  background: url("../img/galleryphotos/001.jpg");
  display: inline-block;
  margin-right: 20px 0 0 0;
}

div.box {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 0 auto 0 auto;
}

div.message {
    width: 200px;
    height: 24px;
    position: absolute;
    bottom: 0;
    padding: 1em;
    background: #fff;
    color: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

div.box:hover div.message {
    visibility: visible;
    opacity: 0.5;
    transition-delay: 0s;
}

#galleries {
  margin-left: auto;
  margin-right: auto;
  width: 77%;
  padding: 0px;
}


/**Styling for LightGallery Pages**/

#lightGallery {
  list-style-type: none;
  display: inline-block;
  background: #9FAFBB;
  border-top: 10px solid #2C4351;
  border-bottom: 10px solid #2C4351;
  padding: 0px;
  text-align: center;
}


#lightGallery li {
  list-style-type: none;
  display: inline-block;
}

#lightGallery li > a {
  display: inline-block;
}


/**Resume Specific Styling**/

#education, #experience, #leadership, #honors, #skills, #portfolio {
  border-bottom: 4px solid #E4E4E4;
  padding-top: 10px;
}

#portfolio {
  padding-top: 30px;
}

address {
  padding: 15px 0px 0px 0px;
  margin: 10px 50px 15px 50px;
}

#linkedin {
  padding-left: 50px;
}


ul.resumelist {
  padding: 0px 0px 0px 35px;
  margin: 0px;
}

ul.resumelist li {
  margin-top: 5px;
}

.gpa {
  padding-right: 50px;
}

article.resumearticle {
  position: relative;
}

.time {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
}

div.activities {
  display: table;
  padding-top: 20px;
}

div.activities > ul {
  display: row;
  padding: 0px;

}

div.activities > ul > li {
  display: table-cell;
  width: 350px;
  padding-right: 40px;
  padding-bottom: 15px;
}


#collections li {
  list-style-type: none;
  display: inline-block;
}

#collections li > a {
    display: inline-block;
    padding: 10px 30px 10px;
    border: 1px solid #A8A8A8;
    text-decoration: none;
    background: #e4e4e4;
    color: #5A655F;
    margin-right: 20px;
}

#collections li > a:hover {
    background: #5A655F;
    color: #FFF;
    border: 1px solid #737373;
}

#collections li > a:visited{
  color: #551A8B;
}

#collections {
  margin-left: 30px;
}

#skills {
  margin-top: 0px;
}

#return {
  margin-top: 25px;
  padding-left: 50px;
}

section.resumesection {
  margin: 10px 50px 15px 50px;
}

p em {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 5px 0px 0px 0px;
}

h3 {
  padding: 15px 0 0 0 ;
  margin: 0;
}













/**Footer for All Pages**/

footer {
  text-align: center;
  margin: 80px 0 0 0;
  padding: 0;
  font-size: 10px;
}



/**MOBILE STYLE SHEET**/

@import url("mobile.css");

@import url("print.css");
