*{
  color: black;
  background: transparent;
  font-size: 11pt;
  font-family: serif;
}

@page {
  margin: .75in;
}

#container {
  margin: 0in;
  padding: 0in;
  width: 100%;
}

nav {
  display: none;
}



/**CSS**/

h1 {
  font-size: 30pt;
  font-weight: 400;
  font-family: serif;
}

h2 {
  font-size: 16pt;
  font-family: serif;
}

address, li, p, a {
  font-size: 11pt;
  font-family: serif;
}

h3 {
  font-size: 12pt;
  font-family: serif;
}

h2 {
  border-bottom: 1.5pt solid #000000;
}


/**Centering Name**/
h1 {

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0in;
  margin-top: 0in;
  width: 40%;
}

address {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.104166667in;
  margin-bottom: 0.104166667in;
  width: 100%;
  border-top: 4.5pt solid #000000;
}

.gpa {
  padding-right: 0.3125in;
}

ul li {
  margin: 0in;
}

h2, h3{
  margin: 0in;
  padding: 0in;
}

h2 {
  margin-top: 0.229166667in;
}

h3 {
  margin-top: 0.125in;
}

p, p em {
  padding: 0in;
  margin: 0in;
}

a {
  text-decoration: none;
}



/**Honors & Activities**/

div.activities {
  display: table;
  margin-top: 0.104166667in;
  margin-bottom: 0in;
  padding-bottom: 0in;
}

div.activities > ul {
  display: row;
  padding: 0in;
}

div.activities > ul > li {
  display: table-cell;
  width: 3.645833333in;
  padding-right: 0.416666667in;
  padding-bottom: 0.104166667in;
}


/**Portfolio and Skills Section**/

#portfolio, #skills {
  margin-bottom: 0.104166667in;
}

#skills {
  margin-top: 0in;
}

#collections {
  margin: 0in;
}

#collections ul{
  display: list-item;
  padding: 0in;
  margin: 0in;
}

#collections li {
  padding: 0in;
  margin: 0in;
  border: none;
  list-style-type: inherit;
  display: list-item;
}

#collections li > a {
    padding: 0in;
    margin: 0in;
    border: none;
    color: #000000;
}


/**Bottom of Resume**/

#return {
  display: none;
}

footer {
  margin-top: 0.260416667in;
}


/**Links displayed after External Websites**/

a[href$=".html"] {
  display: none;
}

a[href^="https://"], a[href^="http://"]{
  display: inline;
}

a[href^="https://"]:after, a[href^="http://"]:after { content: " (" attr(href) ") "; }
