/**STYLESHEET FOR RESUME ONLY**/


/**Fonts**/

h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}





/**Navigation**/




/**Width of Resume**/



/**Centering of Name at Top of Resume**/
h1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  width: 40%;
  padding: 0;
}



/**G.P.A.**/



/**Moving Time Periods to the Right**/



/**Spacing**/





/**Honors and Activities Section**/


/**Portfolio Section**/


/**Bottom of Resume**/
