h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

nav {

  font-size: 16px;
  font-weight: 400;
  font-family: 'Lora', serif;
}

address, li, td, p, a {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Lora', serif;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Lora', serif;
}



/**End of Font Section**/


nav ul {
  margin: 0;
  padding: 10px 0px 0px;
}

nav li {

  list-style-type: none;
  display: inline-block;

}

nav li > a {
  display: inline-block;
  padding: 10px 24px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  background: #E4E4E4;
  color: #5A655F;
}


nav li > a:hover {
  background: #5A655F;
  color: #FFF;
  border: 1px solid #9626D9;
}

li > a:visited{
  color: #3D67C8;
}


/**End of Navigation**/



h2 {
  border-bottom: 4px solid #E4E4E4;
}

/**End of Lines beneath Section Headers**/

#container
{
  width: 700px;
  margin: 0px 0px 0px 40px;
}


/**Trying to Center my Name at Top of Resume**/

h1 {

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  width: 40%;
  padding: 0;
}

address {
  margin-right: auto;
  margin-left: auto;
  margin-top: 7px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 0px 0px 0px;
  border-top: 8px solid #E4E4E4;
}

/**End of Trying to Center name**/


ul {

  padding: 0px 0px 0px 35px;
  margin: 0px;
}

ul li {

  margin-top: 5px;
}

span  {
  padding-right: 50px;
  padding-top: 10px;
  margin-top: 10px;

}

article {
  position: relative;
}

.time {
  position: absolute;
  top: 0;
  right: 0;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 1px;
}

p em {
  margin: 0px;
  padding: 0px;
}


p {
  margin: 0px;
  padding: 5px 0px 0px 0px;
}


div.activities {
  display: table;
}

div.activities > ul {
  display: row;
}

div.activities > ul > li {
  display: table-cell;
  width: 300px;
  padding-right: 40px;
  padding-bottom: 10px;
  list-style-type: disc;
}








#collections li {
  list-style-type: none;
  display: inline-block;
}

#collections li > a {
    display: inline-block;
    padding: 10px 30px 10px;
    border: 1px solid #A8A8A8;
    text-decoration: none;
    background: #e4e4e4;
    color: #5A655F;
    margin-right: 20px;
  }


#collections li > a:hover {
    background: #5A655F;
    color: #FFF;
    border: 1px solid #737373;
  }

#collections {
  margin-left: 30px;
}

#return {
  margin-top: 25px;
}


footer {
  margin-top: 20px;
}
